body {
    background-color: #ADD6FF;
}

.jumbotron {
    height: 140px;
    background-color: #ADD6FF;
}

h1, h2, h3, h4, h5, p, li {
    font-family: Monda;
}

h1 {
    padding-left: 60px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-left: 22px;
}

h2 {
    padding-left: 20px;
}

.homeDiv, p, img {
    margin-left: 20px;
}

.column {
    display: inline-block;
    padding-left: 28px;
}

.activitiesDiv {
    padding-bottom: 20px;
}

.activitiescolumn {
    display: inline-block;
    padding-left: 20px;
}

.superfriends {
    width: 360px;
}

.superfriends2 {
    width: 150px;
}