<!DOCTYPE html>
<html ng-app="myApp">
    <head lang="UTF-8">
        <link rel=stylesheet" href="/assets/styles/style.css">

    </head>
    <body>
        <header>
            <div class="jumbotron">
                <h1>P.R. Stafki</h1>
            </div>
        </header>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#activities">Activities</a></li>
            <li><a href="#motorcycles">Motorcycles</a></li>
        </ul>
        <div>
            <main ng-view></main>
        </div>

        <footer>
            <p>a few side by side links here (contact, nerdstuff, link to RCP)</p>
        </footer>





    <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/controller.min.js"></script>
    </body>
</html>