<div class="activitiesDiv">
    <h2>Projects:</h2>
    <div class="activitiescolumn">
        <div class="pics">
            <img src="/assets/images/PRmotorcycle.jpg" alt="project 1 screenshot" style="width:375px;height:250px;">
            <p>Project 1</p>
        </div>
    </div>
    <div class="activitiescolumn">
        <div class="pics">
            <img src="/assets/images/PRjeff.jpg" alt="project 2 screenshot" style="width:375px;height:250px;">
            <p>Project 2</p>
        </div>
    </div>
</div>
<div class="activitiesDiv">
    <div class="activitiescolumn">
        <div class="pics">
            <img src="/assets/images/briprsnow.jpg" alt="project 3 screenshot" style="width:375px;height:250px;">
            <p>Project 3</p>
        </div>
    </div>
    <div class="activitiescolumn">
        <div class="pics">
            <img src="/assets/images/PRryanmoto.jpg" alt="project 4 screenshot" style="width:375px;height:250px;">
            <p>Project 4</p>
        </div>
    </div>
</div>