<div class="activitiesDiv">
    <h2>PUPPY!!!!1</h2>
    <div class="activitiescolumn">
        <div class="superfriends">
            <img src="/assets/images/nala.jpg" alt="motorcycle trackday" style="width:345px;height:460px;">
        </div>
    </div>
    <div class="activitiescolumn">
        <div class="superfriends2">
            <p>This is Nala. She is 90 pounds of furry Anatolian Shepherd that wants nothing more than your love and affection. And to cover you in fur.</p>
        </div>
    </div>
</div>